* {
  box-sizing: content-box;
  padding: 0px;
  margin: 0px;
}

#shelf {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  gap: 10px;
  background-color: bisque;
}

#shelf > div {
  background-color: aliceblue;
  padding: 10px;
  border-radius: 10px;
}